<% if (user) { %>
    <span class="userLogin">👤 <%= user.login %></span>
<% } %>

<h2>
  <a href="/connexion" class="header-title">SITE DU FUTUR</a>
</h2>

<div>
    <a href="chat" class="chat">chat</a>
<% if (user) { %>
    <a href="/dab" class="dashboard">Distributeur</a>
    <a href="/logout" class="logout">Déconnexion</a>
<% } %>

    <a href="error" class="errorButton">404</a>
</div>
