name: Deploy Node App

on:
  push:
    branches:
      - main  # ou master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Deploy to VPS
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.DEPLOY_KEY }}
        script: |
          cd /home/deployer/apps/tp_node_js/tp_node_js
          git pull
          docker build -t node-app .
          docker rm -f node-app || true
          docker run -d -p 8080:8080 --name node-app node-app
